.request {
    font-family: 'Libre Franklin', Helvetica, sans-serif;
    max-width: 1184px;
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

.request .request-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.request .request-header .title {
    margin: 0 auto;
    display: inline-block;
    padding: 0.4rem 0.8rem;
    background-color: #f6be00;
    border-radius: 8px;
    font-family: 'Mulish', Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    color: #10100e;
    text-align: center;
}

.request-info {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.request-info .subtitle {
    margin: 0 0 1rem 0;
    font-size: 1.125rem;
    color: #027e3f;
    font-weight: 200;
}

.request-info .description {
    margin: 0 0 2rem 0;
    font-size: 1.125rem;
    color: #212529;
    font-weight: 100;
}

.request-info .important {
    margin: 0;
    font-size: 0.9375rem;
    color: #212529;
    font-weight: 100;
}

.request .request-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.request .request-form .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.request .request-form input {
    height: 58px; /* фиксированная высота */
    font-size: 0.9375rem;
    color: rgba(33, 37, 41, 0.65);
    padding: 0 0.75rem;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
}

/* Поля внутри .form-row */
.request .request-form .form-row input {
    flex: 1;
    width: auto; /* чтобы flex работал корректно */
}

/* Поля вне .form-row (например, имя) */
.request .request-form > input {
    width: 100%;
}


.request .request-form .submit-button {
    align-self: center;
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 160px;
    background-color: #027ac7;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}
