.mid_nav {
  width: 100%;
  background: transparent;
}

.mid_nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1480px;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.mid_nav .left {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
}


.mid_nav .left .divider {
  color: rgba(208, 208, 206, 1);
  padding-bottom: .25rem;
  margin-left: 1.5rem;
  --bs-text-opacity: 1;
}

.mid_nav .left .location {
  font-weight: 400;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  color: #004c99;
}


.mid_nav .right {
  display: flex;
  font-family: "Libre Franklin",sans-serif;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 400;
  width: 50%;
  height: 58px;
  align-items: center;
  gap: 2rem;
  margin-right: 0;
}


.mid_nav .right .search {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  padding: 0 16px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Mulish", sans-serif;
}

.mid_nav .right .search .txt {
  color: rgba(33, 37, 41, 0.61);
  font-size: 16px;
  line-height: 1;
}

.mid_nav .right  img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.mid_nav .right .select-city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  flex: 1;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  color: #212529;
  box-sizing: border-box;
}