.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f3f3f2;
    border-bottom: 1px solid #dee2e6;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: .875rem;
    height: 41px;
    line-height: 1 !important;
}

.nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    gap: 16px;
    height: 41px;
}

.nav .div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
}

.nav .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.nav .list .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    white-space: nowrap;
    color: rgba(16,16,14, 0.65);
    cursor: pointer;
}


.nav .div > .item {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: #10100ea6;
    cursor: pointer;
}

.nav .symbol {
    margin-right: 4px;
}

.nav .div > .item img {
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
}
