.bot_nav {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 16px 0;
  position: relative;
  background-color: #027e3f;
}

.bot_nav .container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  display: flex;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.bot_nav .heading-wrapper {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.bot_nav .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.bot_nav .link {
  align-items: flex-start;
  padding: 3.5px 0px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.bot_nav .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Mulish-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.bot_nav .list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.bot_nav .item {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 8px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.bot_nav .div {
  flex-direction: column;
  align-items: center;
  padding: 8px 16px 9px;
  border-radius: 80px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.bot_nav .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 80px;
  opacity: 0.15;
}

.bot_nav .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--www-sescpr-com-br-semantic-link-font-family);
  font-weight: var(--www-sescpr-com-br-semantic-link-font-weight);
  color: #ffffff;
  font-size: var(--www-sescpr-com-br-semantic-link-font-size);
  text-align: center;
  letter-spacing: var(--www-sescpr-com-br-semantic-link-letter-spacing);
  line-height: var(--www-sescpr-com-br-semantic-link-line-height);
  white-space: nowrap;
  font-style: var(--www-sescpr-com-br-semantic-link-font-style);
}