.bottom .commercials {
    display: flex;
    flex-direction: column;
    max-width: 616px;
    gap: 8px;
    padding: 0 16px;
}

.bottom .commercials .title {
    font-family: "Libre Franklin", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
}

.bottom .commercials .title .subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.bottom .commercials .address {
    font-family: "Libre Franklin", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
}

.bottom .commercials .separator {
    width: 100%;
    margin-top: 8px;
}
