.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* расстояние между карточками */
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards .no-underline {
  text-decoration: none;
  
}

.card {
  flex: 0 0 calc(33.3333% - 20px);
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #00794c;
}

.card-content p {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 6px;
}

.card-content h3,
.card-content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 8px 0;
}



/* адаптивность */
@media (max-width: 900px) {
  .card {
    flex: 1 1 calc(50% - 20px); /* 2 в ряд */
  }
}

@media (max-width: 600px) {
  .card {
    flex: 1 1 100%; /* 1 в ряд */
  }
}