.main .excursions {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  margin-left: 1rem;
}

.main .excursions .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main .excursions .head> :first-child {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.125;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #004c99;
}

.main .excursions .head> :last-child {
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  width: fit-content;
  margin-top: -1px;
}

.main .excursions .see-more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px 0px;
  position: relative;
}

.main .excursions .see-more .separator {
  position: absolute;
  width: 100%;
  height: 0;
  top: 74.38%;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #747678;
  opacity: 0.25;
}

.main .excursions .see-more .link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .excursions .see-more .link {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  padding: 9.48px 27px 10.49px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 80px;
  border: 1px solid;
  border-color: #d0d0ce;
}

.main .excursions .see-more .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  color: #212529;
  text-align: center;
  white-space: nowrap;
}

.main .excursions .card-link {
  text-decoration: none;
}